
.topbar{
  height: 60px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.user-icon{
  font-size: 24px;
}

.powereye-logo{
  width: 150px;
}

.ant-layout-header{
  background: #ffffff;
  border-bottom: solid 0.5px;
}