
.topbar{
  height: 60px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.user-icon{
  color: #fff;
  font-size: 20px;
}

.powereye-logo{
  width: 50px;
}