
.content{
  width: 100%;
  height: 93vh;
  background-image: linear-gradient(90deg,#49bcdee0 0,#46a1fddb 55%), url('../../assets/back3.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}