.chart-group{
  text-align: center;
}

.cake-chart-card{
  width: 50%;
}

.filter-chart-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
  max-width: 400px;
}